Q1. How do you comment code in Python? What are the different types of comments?

In Python, you can comment code using the '#' symbol. There are two types of comments:
Single-line comments: These comments start with '#' and are used to document a single line of code.
Multi-line comments: These comments are enclosed between triple quotation marks (''' ''') or triple single quotation marks (""" """) and are used to document multiple lines of code.

Q2. What are variables in Python? How do you declare and assign values to variables?

Variables in Python are used to store data. You can declare a variable by assigning a value to it using the '='               symbol. For example:

In [1]:
my_variable = 10

Q3. How do you convert one data type to another in Python?

To convert one data type to another in Python, you can use type casting. Some common type casting functions include:
int(): Convert to an integer data type.
float(): Convert to a floating-point data type.
str(): Convert to a string data type.
bool(): Convert to a boolean data type.

Q4. How do you write and execute a Python script from the command line?

To write and execute a Python script from the command line, you can follow these steps:
Open a text editor and write your Python code.
Save the file with a .py extension, for example, script.py.
Open the command line interface.
Navigate to the directory where the Python script is saved.
Type "python script.py" and press Enter to execute the script

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [3]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

 In mathematics, a complex number is a number that consists of a real part and an imaginary part. In Python, complex numbers are represented using the "j" suffix. For example, (3 + 2j) is a complex number with a real part of 3 and an imaginary part of 2.

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [4]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable  belong to?

If we declare a variable named price and assign the value 9.99 to it, this variable belongs to the float data type, which represents decimal numbers.

Q9. Create a variable named name and assign your full name to it as a string. How would you print the  value of this variable?

In [5]:
name = "Smita Kakati"
print(name)

Smita Kakati

Q10. Given the string "Hello, World!", extract the substring "World".

In [6]:
my_string = "Hello, World!"
substring = my_string[7:12]
print(substring)

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are  currently a student or not.

In [7]:
is_student = True