In [ ]:
assignment 1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
# Create a string variable
my_string = "Hello, world!"

# Create a list variable
my_list = [1, 2, 3, 4]

# Create a float variable
my_float = 3.14

# Create a tuple variable
my_tuple = (1, 2, 3)

Q2. Given are some following variables containing data: 
(i) var1 = ‘ ‘ 
(ii) var2 = ‘[ DS , ML , Python]’ 
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] 
(iv) var4 = 1. 
What will be the data type of the above given variable.



1.   var1 is a string variable
2.   var2 is a string variable that contains a list of strings
3.   var3 is a list variable that contains strings
4.   var4 is a float variable

Q3. Explain the use of the following operators using an example: 
(i) / 
(ii) %  
(iii) // 
(iv) **

(i) / (division): This operator is used to perform division between two numeric values. It returns a float value as the result. For example, 10 / 3 will return 3.3333333333333335.

(ii) % (modulo): This operator is used to get the remainder of a division operation between two numeric values. It returns an integer value as the result. For example, 10 % 3 will return 1, as the remainder of 10 / 3 is 1.

(iii) // (floor division): This operator is used to perform integer division between two numeric values. It returns an integer value as the result, which is the floor value of the division operation. For example, 10 // 3 will return 3, as the floor value of 10 / 3 is 3.

(iv) ** (exponentiation): This operator is used to perform exponentiation between two numeric values. It returns a float value as the result if one or both of the values are float values, otherwise it returns an integer value. For example, 2 ** 3 will return 8, as 2 raised to the power of 3 is 8. Another example, 4 ** 0.5 will return 2.0, as the square root of 4 is 2.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the  element and its data type.

In [2]:
my_list = [1, 'hello', True, 3.14, [1, 2, 3], 'world', False, 2.71, (1, 2), None]

for element in my_list:
    print(f"{element} is of type {type(element)}")

1 is of type <class 'int'>
hello is of type <class 'str'>
True is of type <class 'bool'>
3.14 is of type <class 'float'>
[1, 2, 3] is of type <class 'list'>
world is of type <class 'str'>
False is of type <class 'bool'>
2.71 is of type <class 'float'>
(1, 2) is of type <class 'tuple'>
None is of type <class 'NoneType'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many  times it can be divisible.

In [3]:
a = 100
b = 5
count = 0

while a % b == 0:
    a /= b
    count += 1

print(f"{a} is left after {count} divisions")

4.0 is left after 2 divisions

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is  divisible by 3 or not.

In [4]:
my_list = [5, 9, 11, 15, 24, 33, 40, 42, 50, 57, 60, 62, 65, 71, 72, 75, 81, 83, 85, 87, 90, 94, 99, 100, 102]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3")
    else:
        print(f"{element} is not divisible by 3")

5 is not divisible by 3
9 is divisible by 3
11 is not divisible by 3
15 is divisible by 3
24 is divisible by 3
33 is divisible by 3
40 is not divisible by 3
42 is divisible by 3
50 is not divisible by 3
57 is divisible by 3
60 is divisible by 3
62 is not divisible by 3
65 is not divisible by 3
71 is not divisible by 3
72 is divisible by 3
75 is divisible by 3
81 is divisible by 3
83 is not divisible by 3
85 is not divisible by 3
87 is divisible by 3
90 is divisible by 3
94 is not divisible by 3
99 is divisible by 3
100 is not divisible by 3
102 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing  this property.

Examples of mutable data types in Python include lists, dictionaries, and sets. For example, if we have a list my_list = [1, 2, 3], we can modify it by appending or removing elements, changing the value of specific elements, or reordering its elements. This is because lists are mutable in Python.

On the other hand, examples of immutable data types in Python include integers, floats, strings, and tuples. For example, if we have a string my_string = "hello", we cannot modify it by changing its individual characters. Instead, we would need to create a new string with the desired changes. This is because strings are immutable in Python.

In [5]:
# mutable example
my_list = [1, 2, 3]
print(my_list)  # prints [1, 2, 3]
my_list.append(4)
print(my_list)  # prints [1, 2, 3, 4]

# immutable example
my_string = "hello"
print(my_string)  # prints "hello"
my_string[0] = "H"  # results in TypeError: 'str' object does not support item assignment

[1, 2, 3]
[1, 2, 3, 4]
hello

TypeError: ignored