Q1. What is a database? Differentiate between SQL and NoSQL databases.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Q4. What is DQL? Explain SELECT with an example.

Q5. Explain Primary Key and Foreign Key.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Q7. Give the order of execution of SQL clauses in an SQL query.

Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and managed to provide efficient access and retrieval. It stores information in tables (or collections), each consisting of rows (or documents) and columns (or fields).
SQL databases: Also known as relational databases, SQL databases store data in structured tables with a predefined schema. They follow the ACID (Atomicity, Consistency, Isolation, Durability) properties and use SQL (Structured Query Language) for querying and managing data. Examples include MySQL, PostgreSQL, Oracle, and SQL Server.
NoSQL databases: NoSQL databases, also known as non-relational or distributed databases, store data in flexible, schema-less formats, such as key-value pairs, document stores, column-family stores, or graph databases. They are designed for horizontal scalability and are often used for handling large volumes of unstructured or semi-structured data. Examples include MongoDB, Cassandra, Redis, and Amazon DynamoDB.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language): DDL is a subset of SQL used to define, modify, and delete database objects such as tables, indexes, and views.
Examples:
CREATE: Used to create new database objects like tables.
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);
DROP: Used to delete existing database objects like tables.
DROP TABLE employees;
ALTER: Used to modify the structure of existing database objects.
ALTER TABLE employees ADD COLUMN department VARCHAR(50);
TRUNCATE: Used to remove all rows from a table while keeping the table structure intact.
TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language): DML is a subset of SQL used to manipulate data within database objects like tables.
Examples:
INSERT: Used to insert new rows into a table.
Examples:
INSERT: Used to insert new rows into a table.

INSERT INTO employees (id, name, age) VALUES (1, 'John', 30);
UPDATE: Used to modify existing rows in a table.

UPDATE employees SET age = 35 WHERE name = 'John';
DELETE: Used to remove existing rows from a table.

DELETE FROM employees WHERE age > 40;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language): DQL is a subset of SQL used to query data from database objects like tables.
Example:
SELECT: Used to retrieve data from one or more tables.

SELECT * FROM employees WHERE age > 30;

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a unique identifier for each record in a table. It ensures that each row is uniquely identifiable and cannot contain null values. It is often used for data indexing and maintaining data integrity.
Foreign Key: A foreign key is a column or combination of columns that establishes a relationship between two tables. It ensures referential integrity by enforcing a link between the data in one table (the child table) and the data in another table (the parent table). Foreign keys typically reference the primary key of the parent table.

In [ ]:
#6
import mysql.connector

# Connect to MySQL database
mydb = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="mydatabase"
)

# Create cursor object
mycursor = mydb.cursor()

# Execute SQL query
mycursor.execute("SELECT * FROM employees")

# Fetch results
for row in mycursor.fetchall():
    print(row)

# Close cursor and connection
mycursor.close()
mydb.close()

Explanation:
cursor(): Creates a cursor object that allows Python to interact with the MySQL database.
execute(): Executes an SQL query specified as a parameter to the method. It is used to perform database operations such as retrieving data, modifying data, or executing other SQL commands.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:
SELECT
FROM
WHERE
GROUP BY
HAVING
ORDER BY
LIMIT