Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the  variable print it.

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Name: Alice, Bob, Claire
Age: 25, 30, 27
Gender: Female, Male, Female
Then, print the DataFrame.

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame in pandas is a 2-dimensional labeled data structure that can hold data of different types (e.g., numerical, string, boolean, etc.) in columns. It can be thought of as a table or spreadsheet-like data structure. Each column in a DataFrame is a Pandas Series. The main difference between a Series and a DataFrame is that a Series represents a single column of data, while a DataFrame represents multiple columns with associated labels.

In [4]:
import pandas as pd

# Example 1: Series
data = [1, 2, 3, 4, 5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can  you give an example of when you might use one of these functions?

head() and tail(): Return the first or last n rows of the DataFrame.

info(): Display a concise summary of the DataFrame, including column data types and non-null values.

describe(): Generate descriptive statistics of the DataFrame.

sort_values(): Sort the DataFrame by one or more columns.

groupby(): Group the DataFrame by one or more columns and perform aggregations or transformations.

drop() and dropna(): Remove rows or columns from the DataFrame.

fillna(): Fill missing values in the DataFrame with specified values or strategies.

apply() and map(): Apply functions or transformations to elements or columns of the DataFrame.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

 In pandas, Series and DataFrame are mutable, meaning their values can be changed or modified after creation. However, Panel objects, which are 3-dimensional data structures, are considered deprecated starting from pandas version 1.0. Therefore, Series and DataFrame are the recommended and widely used mutable data structures in pandas.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [6]:
import pandas as pd

name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female